<b>Name: Mostafa Nasser Ali</b>

<center><h3 style="color:brown">Day 5 Python assignment</h3></center>

In [ ]:
"""1- Create class employee with the following characteristics:
●Attributes:
    ○ First_name
    ○ Last_name
    ○ Age
    ○ Department
    ○ Salary
    ○ Static list contains all employee
●Methods:
    ○ constructor
        ■ Assign values to the instance attributes
        ■ Insert the created object to the list
        ■ Insert new record in table employee in database
    ○ transfer()
        ■ Change employee department
        ■ Update the database record with the update
    ○ fire()
        ■ Remove the employee from the shared list
        ■ Delete its record from the database
    ○ show()
        ■ Prints all employee data
    ○ List_employees()
        ■ Select all employees and print their data"""

<strong>Establish DB connection + Creating emp_info table</strong>

In [1]:
import mysql.connector
def connection():

    mydb = mysql.connector.connect(host ="localhost",user="root",password="2512",database="employees")
    mycursor= mydb.cursor()
    mycursor.execute('''create table emp_info(
                fname char(50),
                lname char(50),
                 age int not null,
                 department char(50),
                 salary int
                 );''')
    print('Table Created successfully')
    mydb.commit()
    mydb.close()

connection()

Record inserted successfully

<b>Inserting values into emp_info table</b>

In [2]:
def add_employee():
    mydb = mysql.connector.connect(host ="localhost",user="root",password="2512",database="employees")
    mycursor= mydb.cursor()
    mycursor.execute('''INSERT INTO emp_info
    VALUES ("mostafa", "nasser", 23, "engineering",8000);''')
    print('Record inserted successfully')
    mycursor.execute('''INSERT INTO emp_info
    VALUES ("Amr", "Salama", 25, "Business Development",5000);''')
    mycursor.execute('''INSERT INTO emp_info
    VALUES ("radwan", "mansor", 50, "Managment",20000);''')
    mycursor.execute('''INSERT INTO emp_info
    VALUES ("marwa", "el-sayed", 35, "HR",6500);''')
    mycursor.execute('''INSERT INTO emp_info
    VALUES ("maged", "asaadi", 45, "Managment",12000);''')

    print('Record inserted successfully')
    mycursor.execute('''select * from emp_info;''')
    rows = mycursor.fetchall()
    # print(rows)
    for row in rows:
        print(row)
    mydb.commit()
    mydb.close()




add_employee()

Record inserted successfully
Record inserted successfully
('mostafa', 'nasser', 23, 'engineering', 8000)
('Amr', 'Salama', 25, 'Business Development', 5000)
('radwan', 'mansor', 50, 'Managment', 20000)
('marwa', 'el-sayed', 35, 'HR', 6500)
('maged', 'asaadi', 45, 'Managment', 12000)

<strong>Update values  # transfer employee to another department</strong>

In [3]:
def transfer():
    mydb = mysql.connector.connect(host ="localhost",user="root",password="2512",database="employees")
    mycursor= mydb.cursor()
    mycursor.execute('''update emp_info
                        set department = "Accounting"
                        where fname    = "Amr" ;''')

    print("Department Updated successfully")
    mycursor.execute('''select * from emp_info;''')
    rows = mycursor.fetchall()
    # print(rows)
    for row in rows:
        print(row)
    mydb.commit()
    mydb.close()   
    
transfer()

Department Updated successfully
('mostafa', 'nasser', 23, 'engineering', 8000)
('Amr', 'Salama', 25, 'Accounting', 5000)
('radwan', 'mansor', 50, 'Managment', 20000)
('marwa', 'el-sayed', 35, 'HR', 6500)
('maged', 'asaadi', 45, 'Managment', 12000)

<strong>Selecting and printing all employee data<strong>

In [4]:
def show():
    mydb = mysql.connector.connect(host ="localhost",user="root",password="2512",database="employees")
    mycursor= mydb.cursor()
    mycursor.execute('''SELECT * FROM emp_info;''')
    rows = mycursor.fetchall()
    print("Selection completed successfully")
    for row in rows:
        print(row)
    mydb.close()

show()

Selection completed successfully
('mostafa', 'nasser', 23, 'engineering', 8000)
('Amr', 'Salama', 25, 'Accounting', 5000)
('radwan', 'mansor', 50, 'Managment', 20000)
('marwa', 'el-sayed', 35, 'HR', 6500)
('maged', 'asaadi', 45, 'Managment', 12000)

<strong>Deleting rows from emp_info<strong>

In [5]:
def fire():
    mydb = mysql.connector.connect(host ="localhost",user="root",password="2512",database="employees")
    mycursor= mydb.cursor()
    mycursor.execute('''DELETE FROM emp_info WHERE age = "45";''')
    rows = mycursor.fetchall()
    print("row deleted successfully")
    mycursor.execute('''select * from emp_info;''')
    rows = mycursor.fetchall()
    # print(rows)
    for row in rows:
        print(row)
    mydb.close()

fire()

row deleted successfully
('mostafa', 'nasser', 23, 'engineering', 8000)
('Amr', 'Salama', 25, 'Accounting', 5000)
('radwan', 'mansor', 50, 'Managment', 20000)
('marwa', 'el-sayed', 35, 'HR', 6500)